ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.user-wrapper, .message-wrapper{
  border: 1px solid #dddddd;
  overflow-y: auto;
}

.user-wrapper{
  height: 70vh;
}

.user{
  cursor: pointer;
  padding: 5px 0;
  position: relative;
}

.user:hover{
  background: #eeeeee;
}

.user:last-child{
  margin-bottom: 0;
}

.pending{
  position: absolute;
  left: 13px;
  top: 9px;
  background: red;
  margin: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
  color: #ffffff;
  font-size: 12px;
}

.media-left{
  margin: 0 10px;
}

.media-left img{
  width: 64px;
  border-radius: 64px;
}

.media-left p{
  margin: 6px 0;
}

.message-wrapper{
  padding: 10px;
  height: 70vh;
  background: #eeeeee;
}

.messages .message{
  margin-bottom: 15px;
}

.messages .message:last-child{
  margin-bottom: 0;
}

.received, .sent{
  width: 35%;
  padding: 3px 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.received{
  background: #FFFFFF;
}

.sent{
  background: #28FF28;
  float: right;
  text-align: right;
}

.message p{
  margin: 5px 0;
}

.date{
  color: #777777;
  font-size: 12px;
}

.active{
  background: #eeeeee;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0 0 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #cccccc;
}

input[type=text]:focus{
  border: 1px solid #aaaaaa;
}

.btn-message,.btn-reset{
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0 0 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

/*scrollbar set*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: silver;
}
